<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarRentalLibrary.Properties.Settings.DbConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Db.mdb;Persist Security Info=True;Jet OLEDB:Database Password=who"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>